.global
{
  background-color: white;
}

.nav
{
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 25px;
}

.main
{
  padding: 140px;
  background: linear-gradient(to right, rgba(239,183,186,1) 0%, rgba(255,255,255,1) 100%);
  font-family: 'Exo', sans-serif;
  font-size: 70px;
  font-style: italic;
}

.main-journey
{
  padding: 192px 200px 192px 135px;
  background: linear-gradient(135deg, rgba(193,245,243,1) 0%, rgba(223,254,210,1) 100%);
  font-family: 'Exo', sans-serif;
  font-size: 70px;
  font-style: italic;
}

.a-item
{
  color:black;
}

.a-item:hover
{
  color:black;
}

.li-item
{
  margin: 0px 15px 0px 15px;
}

.col-item
{
  border: #697184 1px solid !important;
  margin: 15px 0px 15px 0px;
}
.p-title
{
  font-family: 'Paprika', cursive;
  font-size: 30px;
}
.p-text
{
  font-family: 'Quattrocento', serif;
  font-size: 20px;
}

.iconos
{
  margin: 0px 15px 0px 15px;;
}

.contacto
{
  margin: 0px 40px 0px 40px;
}

.link-redes
{
  margin: 0px 20px 0px 20px;
}

.footer-item
{
  background-color: black
  margin:50px;
}
